/* 共通 css */
:root {
    --main-bg-color: #FFFFFF;
    --sub-bg-color: #ECEBEB;
    --main-font-color: #333333;
    --sub-font-color: #FFFFFF;
    --border-color: #C3C3C3;
    --button-color: #4B4B4B;
}
* {
    box-sizing: border-box;
    color: var(--main-font-color);
}
body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    margin: unset;
}
img {
    display: block;
}
h1, h2, p, ul {
    margin: unset;
    padding: unset;
}
h2 {
    font-weight: bold;
    font-size: 16px;
}
p, th, td {
    font-size: 12px;
}
a, a:visited {
    text-decoration: none;
}
li {
    font-size: 12px;
    line-height: 116%;
    text-decoration: none;
    list-style: none;
}
p.copy {
    font-size: 10px;
}
div.container {
    max-width: 1000px;
    margin: 0 auto;
}
div.inner_container {
    max-width: 800px;
    margin: 0 auto;
}

@media (min-width: 375px) {
    main {
        background-color: red;
    }
}


/* 狭い画面向けの既定の CSS レイアウト値 */
img.logo {
    width: 109px;
    height: 19px;
    margin: 0 auto;
}
nav {
    display: flex;
    padding: 0 19px;
    overflow-x: scroll;
    scrollbar-width: none;
}
ul {
    display: flex;
}
p.item_text {
    line-height: 190%;
}




@media (min-width: 896px) {
  /* 広い画面向けの CSS */
}
