/* 共通 css */
:root {
    --main-bg-color: #FFFFFF;
    --sub-bg-color: #ECEBEB;
    --main-font-color: #333333;
    --sub-font-color: #FFFFFF;
    --border-color: #C3C3C3;
    --button-color: #4B4B4B;
}
* {
    box-sizing: border-box;
    color: var(--main-font-color);
}
body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    margin: unset;
}
img {
    display: block;
}
h1, h2, p, ul {
    margin: unset;
    padding: unset;
}
h2 {
    font-weight: bold;
    font-size: 16px;
}
p, th, td, button {
    font-size: 12px;
    font-weight: normal;
}
a, a:visited {
    text-decoration: none;
}
li {
    font-size: 12px;
    line-height: 116%;
    text-decoration: none;
    list-style: none;
}
p.copy {
    font-size: 10px;
}
div.container {
    max-width: 1000px;
    margin: 0 auto;
}
div.inner_container {
    max-width: 800px;
    margin: 0 auto;
}



/* 狭い画面向けの既定の CSS レイアウト値 */
h1 {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 26px;
}
img.logo {
    width: 109px;
    height: 19px;
    margin: 0 auto;
}
nav {
    display: flex;
    padding-right: 19px;
    padding-bottom: 16px;
    padding-left: 19px;
    overflow-x: scroll;
    scrollbar-width: none;
}
ul {
    display: flex;
}
li {
    padding-right: 14px;
}
ul.login li:last-of-type {
    padding-right: unset;
}
main img {
    width: 100%;
}
main img + div {
    padding: 0 16px;
}
h2 {
    margin: 10px 0;
    padding: 20px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
p.item_text {
    line-height: 190%;
    margin: 20px 0;
}
p.item_cost {
    margin: 30px 0;
}
form {
    display: flex;
    margin: 30px 0;
    flex-direction: column;
    align-items: stretch;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px 0;
    text-align: center;
}
button {
    border: unset;
    background-color: var(--button-color);
    color: var(--sub-font-color);
    padding: 18px 0;
}
table.form {
    margin-bottom: 20px;
}
table.form tr:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
}
table.form td:not(:last-of-type) {
    border-right: 1px solid var(--border-color);
}
table.size th{
    background-color: var(--sub-bg-color);
    border: 1px solid var(--border-color);
}
table.size td {
    border: 1px solid var(--border-color);
}
p.copy {
    text-align: center;
    margin-top: 110px;
    margin-bottom: 10px;
}



@media (min-width: 896px) {
  /* 広い画面向けの CSS */
}
